{% extends "tasty/_base.html" %}
{% load static %}

{% block title %}Impressum &mdash; Zweithaar Schaaf{% endblock %}
{% block description %}Impressum von Zweithaar Schaaf &ndash; Angaben gem&auml;&szlig; &sect; 5 DDG.{% endblock %}
{% block body_class %}page-legal{% endblock %}

{% block content %}

<section class="hero hero--plain">
  <div class="container">
    <span class="eyebrow">Rechtliches</span>
    <h1>Impressum</h1>
  </div>
</section>

<section class="section">
  <div class="container container--prose">

    <h2>Angaben gem&auml;&szlig; &sect; 5 DDG</h2>
    {# TODO: Echte Firmendaten eintragen (Name, Rechtsform, Anschrift) #}
    <p>
      Zweithaar Schaaf<br>
      [Inhaber/in bzw. Rechtsform &ndash; TODO]<br>
      Dechant-Fenger-Str. 1<br>
      56766 Ulmen
    </p>

    <h2>Kontakt</h2>
    {# TODO: Echte Kontaktdaten eintragen #}
    <p>
      Telefon: [TODO]<br>
      E-Mail: <a href="mailto:info@zweithaarschaaf.de">info@zweithaarschaaf.de</a>
    </p>

    <h2>Umsatzsteuer-ID</h2>
    {# TODO: USt-IdNr. eintragen oder Abschnitt entfernen, falls nicht vorhanden #}
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27a Umsatzsteuergesetz: [TODO]</p>

    <h2>Verantwortlich f&uuml;r den Inhalt nach &sect; 18 Abs. 2 MStV</h2>
    {# TODO: Verantwortliche Person mit Anschrift eintragen #}
    <p>[Name, Anschrift &ndash; TODO]</p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br>Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <h2>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

  </div>
</section>

{% endblock %}
