{% load static %}<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Zweithaar Schaaf{% endblock %}</title>
  <meta name="description" content="{% block description %}Zweithaar Schaaf &ndash; Echthaarper&uuml;cken in Premiumqualit&auml;t.{% endblock %}">
  <meta name="author" content="Zweithaar Schaaf">

  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Zweithaar Schaaf">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
  <meta property="og:title" content="{% block og_title %}Zweithaar Schaaf &mdash; Echthaarper&uuml;cken in Premiumqualit&auml;t{% endblock %}">
  <meta property="og:description" content="{% block og_description %}Echthaarper&uuml;cken in Premiumqualit&auml;t &ndash; individuelle Beratung, handgefertigte Per&uuml;cken und einf&uuml;hlsamer Service.{% endblock %}">
  <meta name="twitter:card" content="summary">

  {% block structured_data %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "HairSalon",
    "name": "Zweithaar Schaaf",
    "url": "{{ request.scheme }}://{{ request.get_host }}/",
    "description": "Fachgeschäft für Echthaarperücken, Toupets und Haarteile – individuelle Beratung und handwerkliche Qualität.",
    "email": "info@zweithaarschaaf.de"
  }
  </script>
  {% endblock %}

  <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">

  <link rel="stylesheet" href="{% static 'css/theme-2a.css' %}?v=3">
  {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">

  <a class="skip-link" href="#main">Zum Inhalt springen</a>

  <div id="page">
    {% include "tasty/_header.html" %}

    <main id="main">
      {% block content %}{% endblock %}
    </main>

    {% include "tasty/_footer.html" %}
  </div>

  {% block extra_js_top %}{% endblock %}
  <script src="{% static 'js/main.js' %}?v=3"></script>
  <script src="{% static 'js/cart.js' %}?v=2"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
