{% load static %}
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="grid grid-4">
      <div class="footer-widget">
        <h4>Zweithaar Schaaf</h4>
        <p>Ihr Fachgesch&auml;ft f&uuml;r Echthaarper&uuml;cken, Toupets und Haarteile &ndash; individuelle Beratung und handwerkliche Qualit&auml;t aus einer Hand.</p>
      </div>

      <div class="footer-widget">
        <h4>Links</h4>
        <ul class="footer-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">&Uuml;ber uns</a></li>
          <li><a href="{% url 'wigs' %}">Unsere Per&uuml;cken</a></li>
          <li><a href="{% url 'gallery' %}">Galerie</a></li>
          <li><a href="{% url 'contact' %}">Kontakt</a></li>
        </ul>
      </div>

      <div class="footer-widget">
        <h4>Sortiment</h4>
        <ul class="footer-links">
          <li><a href="#">Damenper&uuml;cken</a></li>
          <li><a href="#">Herrenper&uuml;cken</a></li>
          <li><a href="#">Toupets</a></li>
          <li><a href="#">Haarteile</a></li>
          <li><a href="#">Pflegeprodukte</a></li>
        </ul>
      </div>

      <div class="footer-widget">
        <h4>Kontakt</h4>
        <ul class="footer-links">
          <li>Zweithaar Schaaf<br>Musterstra&szlig;e 1, 12345 Musterstadt</li>
          <li><a href="tel://+4912345678">+49 123 456 78</a></li>
          <li><a href="mailto:info@zweithaarschaaf.de">info@zweithaarschaaf.de</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      &copy; 2026 Zweithaar Schaaf. Alle Rechte vorbehalten.
    </div>
  </div>
</footer>

<div class="gototop js-top">
  <a href="#" class="js-gotop" aria-label="Nach oben">&uarr;</a>
</div>
