{% load static %}
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="grid grid-4">
      <div class="footer-widget">
        <h4>Zweithaar Schaaf</h4>
        <p>Ihr Fachgesch&auml;ft f&uuml;r Echthaarper&uuml;cken, Toupets und Haarteile &ndash; individuelle Beratung und handwerkliche Qualit&auml;t aus einer Hand.</p>
      </div>

      <div class="footer-widget">
        <h4>Links</h4>
        <ul class="footer-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">&Uuml;ber uns</a></li>
          <li><a href="{% url 'wigs' %}">Shop</a></li>
          <li><a href="{% url 'services' %}">Leistungen</a></li>
          <li><a href="{% url 'gallery' %}">Galerie</a></li>
          <li><a href="{% url 'contact' %}">Kontakt</a></li>
          <li><a href="{% url 'pages:retoure' %}">Retoure</a></li>
        </ul>
      </div>

      <div class="footer-widget">
        <h4>Sortiment</h4>
        <ul class="footer-links">
          <li><a href="{% url 'wigs' %}">Ma&szlig;anfertigung</a></li>
          <li><a href="{% url 'wigs' %}">Per&uuml;cken im Bestand</a></li>
          <li><a href="{% url 'wigs' %}">Haarteile</a></li>
          <li><a href="{% url 'wigs' %}">Pflegeprodukte</a></li>
        </ul>
      </div>

      <div class="footer-widget">
        <h4>Kontakt</h4>
        <ul class="footer-links">
          {# TODO: Echte Telefonnummer eintragen #}
          <li>Zweithaar Schaaf<br>Dechant-Fenger-Str. 1, 56766 Ulmen</li>
          <li><a href="tel:+4912345678">+49 123 456 78</a></li>
          <li><a href="mailto:info@zweithaarschaaf.de">info@zweithaarschaaf.de</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      &copy; {% now "Y" %} Zweithaar Schaaf. Alle Rechte vorbehalten.
      <span class="copyright-legal">
        <a href="{% url 'pages:impressum' %}">Impressum</a>
        &middot;
        <a href="{% url 'pages:datenschutz' %}">Datenschutz</a>
        &middot;
        <a href="{% url 'pages:retoure' %}">Retoure</a>
      </span>
    </div>
  </div>
</footer>

<div class="gototop js-top">
  <a href="#" class="js-gotop" aria-label="Nach oben">&uarr;</a>
</div>
