{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Zweithaar Schaaf &mdash; Echthaarperücken in Premiumqualität</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Zweithaar Schaaf &ndash; Echthaarperücken in Premiumqualität. Individuelle Beratung, handgefertigte Perücken und einfühlsamer Service." />
	<meta name="keywords" content="Echthaarperücke, Perücke kaufen, Zweithaar, Haarersatz, Toupet, Damenperücke, Herrenperücke" />
	<meta name="author" content="Zweithaar Schaaf" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
  </head>
  <body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="{% url 'home' %}">Zweithaar Schaaf<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li class="active"><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'wigs' %}">Unsere Perücken</a></li>
							<li class="has-dropdown">
								<a href="gallery.html">Galerie</a>
								<ul class="dropdown">
									<li><a href="#">Damenperücken</a></li>
									<li><a href="#">Herrenperücken &amp; Toupets</a></li>
									<li><a href="#">Vorher &amp; Nachher</a></li>
								</ul>
							</li>
							<li><a href="{% url 'reservation' %}">Beratungstermin</a></li>
							<li><a href="about.html">Über uns</a></li>
							<li><a href="contact.html">Kontakt</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		<!-- </div> -->
	</nav>

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url('{% static 'images/hero_1.jpeg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Echthaarperücken <em>für</em> ein neues <em>Selbstbewusstsein</em></h1>
							<h2>Handgefertigt. Natürlich. Individuell auf Sie abgestimmt.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
					<img src="{% static 'images/hero_1.jpeg' %}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2>Über Zweithaar Schaaf</h2>
						<p>Seit vielen Jahren begleiten wir Menschen, die aus gesundheitlichen oder persönlichen Gründen auf der Suche nach hochwertigem Haarersatz sind. Unsere Echthaarperücken bestehen aus 100&nbsp;% natürlichem Echthaar und werden von Hand gefertigt &ndash; für ein Ergebnis, das man weder sieht noch spürt.</p>
						<p>In einem persönlichen Beratungsgespräch nehmen wir uns Zeit für Ihre Wünsche: von der Farb- und Schnittwahl bis zur perfekten Passform. So finden Sie die Perücke, die wirklich zu Ihnen passt.</p>
						<p><a href="{% url 'reservation' %}" class="btn btn-primary btn-outline">Beratungstermin vereinbaren</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Unsere Perücken</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Ob Damen- oder Herrenperücke, Toupet oder Haarteil &ndash; jedes Modell wird aus feinstem Echthaar gefertigt und individuell angepasst. Ein kleiner Auszug aus unserem Sortiment:</p>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item">
						<img src="{% static 'images/gallery_9.jpeg' %}" class="img-responsive" alt="Echthaarperücke Classic">
						<h3>Perücke &bdquo;Classic&ldquo;</h3>
						<span class="fh5co-price">ab 890<sup>,-</sup></span>
						<p>Zeitloses, schulterlanges Modell aus 100&nbsp;% Echthaar mit natürlichem Ansatz &ndash; ideal für den Alltag.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item margin_top">
						<img src="{% static 'images/gallery_8.jpeg' %}" class="img-responsive" alt="Echthaarperücke Long Layers">
						<h3>Perücke &bdquo;Long Layers&ldquo;</h3>
						<span class="fh5co-price">ab 1.190<sup>,-</sup></span>
						<p>Voluminöses Langhaarmodell mit fein gestuften Strähnen für einen besonders lebendigen Look.</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item">
						<img src="{% static 'images/gallery_7.jpeg' %}" class="img-responsive" alt="Herrenperücke Natural">
						<h3>Herrenperücke &bdquo;Natural&ldquo;</h3>
						<span class="fh5co-price">ab 790<sup>,-</sup></span>
						<p>Dezentes Kurzhaarmodell mit hauchdünnem Skin-Ansatz &ndash; unsichtbar im Haaransatz.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item margin_top">
						<img src="{% static 'images/gallery_6.jpeg' %}" class="img-responsive" alt="Toupet Comfort">
						<h3>Toupet &bdquo;Comfort&ldquo;</h3>
						<span class="fh5co-price">ab 590<sup>,-</sup></span>
						<p>Leichtes, atmungsaktives Haarteil zur punktuellen Kaschierung &ndash; angenehm auch bei sensibler Kopfhaut.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Was unsere Kundinnen sagen</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Vertrauen entsteht durch Erfahrung. Lesen Sie, wie unsere Kundinnen und Kunden ihren Weg zur passenden Perücke bei uns erlebt haben.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
						<img src="{% static 'images/person_1.jpg' %}" alt="Kundin von Zweithaar Schaaf">
				</div>
				<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
					<blockquote>
						<p> &ldquo;Ich wurde von Anfang an einfühlsam beraten und habe eine Perücke bekommen, die aussieht wie mein eigenes Haar. Ich fühle mich wieder wie ich selbst.&rdquo;</p>
						<p class="author"><cite>&mdash; Sabine M.</cite></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-slider" class="fh5co-section animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="fh5co-heading">
						<h2>Qualität <em>&amp;</em> Handwerk</h2>
						<p>Jede Perücke wird in liebevoller Handarbeit gefertigt und individuell an Kopfform, Haaransatz und Wunschfrisur angepasst.</p>
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<aside id="fh5co-slider-wrwap">
					<div class="flexslider">
						<ul class="slides">
					   	<li style="background-image: url('{% static 'images/gallery_7.jpeg' %}');">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
													<h2>100&nbsp;<em>%</em> Echthaar</h2>
													<p>Nur sortenreines, sorgfältig ausgewähltes Echthaar sorgt für einen natürlichen Glanz und eine Haptik, die sich wie Ihr eigenes Haar anfühlt.</p>
													<p><a href="about.html" class="btn btn-primary btn-outline">Mehr erfahren</a></p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url('{% static 'images/gallery_6.jpeg' %}');">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
													<h2>Individuelle <em>Beratung</em></h2>
													<p>In einem persönlichen Termin ermitteln wir gemeinsam Farbe, Struktur und Schnitt &ndash; für ein Ergebnis, das perfekt zu Ihnen passt.</p>
													<p><a href="{% url 'reservation' %}" class="btn btn-primary btn-outline">Termin vereinbaren</a></p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url('{% static 'images/gallery_5.jpeg' %}');">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
													<h2>Pflege <em>&amp;</em> Service</h2>
													<p>Auch nach dem Kauf sind wir für Sie da: professionelle Pflege, Anpassungen und Auffrischungen halten Ihre Perücke lange schön.</p>
													<p><a href="contact.html" class="btn btn-primary btn-outline">Kontakt aufnehmen</a></p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>		   	
					  	</ul>
				  	</div>
				</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog" class="fh5co-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Aktuelles &amp; Wissenswertes</h2>
					<p>Tipps rund um Pflege, Auswahl und Umgang mit Echthaarperücken &ndash; damit Sie sich von Anfang an sicher fühlen.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url('{% static 'images/gallery_1.jpeg' %}');"></a>
						<div class="blog-text">
							<span class="posted_on">Ratgeber</span>
							<h3><a href="#">Die richtige Perücke finden</a></h3>
							<p>Worauf es bei Passform, Kopfform und Haarstruktur ankommt, damit Ihre neue Perücke perfekt sitzt.</p>
							<ul class="stuff">
								<li><a href="#">Weiterlesen<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url('{% static 'images/gallery_2.jpeg' %}');"></a>
						<div class="blog-text">
							<span class="posted_on">Pflegetipps</span>
							<h3><a href="#">Echthaar richtig pflegen</a></h3>
							<p>Mit der richtigen Pflege bleibt Ihre Echthaarperücke lange geschmeidig, glänzend und in Form.</p>
							<ul class="stuff">
								<li><a href="#">Weiterlesen<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url('{% static 'images/gallery_3.jpeg' %}');"></a>
						<div class="blog-text">
							<span class="posted_on">Erfahrung</span>
							<h3><a href="#">Haarersatz bei Haarausfall</a></h3>
							<p>Wie eine gut sitzende Perücke helfen kann, den Alltag wieder mit mehr Selbstvertrauen zu meistern.</p>
							<ul class="stuff">
								<li><a href="#">Weiterlesen<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url('{% static 'images/hero_1.jpeg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Kostenlose Beratung vereinbaren</h2>
					<p>Lassen Sie sich unverbindlich und persönlich beraten &ndash; wir finden gemeinsam die Perücke, die zu Ihnen und Ihrem Alltag passt.</p>
					<p><a href="{% url 'reservation' %}" class="btn btn-primary btn-outline">Termin buchen</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Zweithaar Schaaf</h4>
					<p>Ihr Fachgeschäft für Echthaarperücken, Toupets und Haarteile &ndash; individuelle Beratung und handwerkliche Qualität aus einer Hand.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="about.html">Über uns</a></li>
						<li><a href="{% url 'wigs' %}">Unsere Perücken</a></li>
						<li><a href="gallery.html">Galerie</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Sortiment</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Damenperücken</a></li>
						<li><a href="#">Herrenperücken</a></li>
						<li><a href="#">Toupets</a></li>
						<li><a href="#">Haarteile</a></li>
						<li><a href="#">Pflegeprodukte</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Kontakt</h4>
					<ul class="fh5co-footer-links">
						<li>Zweithaar Schaaf<br>Musterstraße 1, 12345 Musterstadt</li>
						<li><a href="tel://+4912345678">+49 123 456 78</a></li>
						<li><a href="mailto:info@zweithaarschaaf.de">info@zweithaarschaaf.de</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2026 Zweithaar Schaaf. Alle Rechte vorbehalten.</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
