{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Unsere Perücken &mdash; Zweithaar Schaaf</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Echthaarperücken, Toupets und Haarteile von Zweithaar Schaaf &ndash; handgefertigt, individuell angepasst und in verschiedenen Längen und Farben erhältlich." />
	<meta name="keywords" content="Echthaarperücke, Perücke kaufen, Damenperücke, Herrenperücke, Toupet, Haarteil, Zweithaar" />
	<meta name="author" content="Zweithaar Schaaf" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
  </head>
  <body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center logo-wrap">
					<div id="fh5co-logo"><a href="{% url 'home' %}">Zweithaar Schaaf<span>.</span></a></div>
				</div>
				<div class="col-xs-12 text-center menu-1 menu-wrap">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><a href="{% url 'wigs' %}">Unsere Perücken</a></li>
						<li class="has-dropdown">
							<a href="gallery.html">Galerie</a>
							<ul class="dropdown">
								<li><a href="#">Damenperücken</a></li>
								<li><a href="#">Herrenperücken &amp; Toupets</a></li>
								<li><a href="#">Vorher &amp; Nachher</a></li>
							</ul>
						</li>
						<li><a href="{% url 'reservation' %}">Beratungstermin</a></li>
						<li><a href="about.html">Über uns</a></li>
						<li><a href="contact.html">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url('{% static 'images/wigs/hero-wigs-banner.svg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Unsere <em>Echthaarperücken</em></h1>
							<h2>Handgefertigt aus 100&nbsp;% Echthaar &ndash; für jeden Anlass die passende Wahl</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Damenperücken</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Von natürlich-dezent bis voluminös &ndash; jedes Modell besteht aus 100&nbsp;% sortenreinem Echthaar und wird auf Wunsch individuell in Länge, Farbe und Ansatz angepasst.</p>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item">
						<img src="{% static 'images/wigs/wig-classic.svg' %}" class="img-responsive" alt="Echthaarperücke Classic, schulterlang und braun">
						<h3>Perücke &bdquo;Classic&ldquo;</h3>
						<span class="fh5co-price">ab 890<sup>,-</sup></span>
						<p>Zeitloses, schulterlanges Modell mit natürlichem Ansatz und glattem Haar &ndash; ideal für den Alltag.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item margin_top">
						<img src="{% static 'images/wigs/wig-long-layers.svg' %}" class="img-responsive" alt="Echthaarperücke Long Layers, lang und blond gestuft">
						<h3>Perücke &bdquo;Long Layers&ldquo;</h3>
						<span class="fh5co-price">ab 1.190<sup>,-</sup></span>
						<p>Voluminöses Langhaarmodell mit fein gestuften Strähnen für einen besonders lebendigen Look.</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item">
						<img src="{% static 'images/wigs/wig-bob-chic.svg' %}" class="img-responsive" alt="Echthaarperücke Bob Chic, schwarzer Bob">
						<h3>Perücke &bdquo;Bob Chic&ldquo;</h3>
						<span class="fh5co-price">ab 950<sup>,-</sup></span>
						<p>Kinnlanger, glatter Bob mit klarer Kontur &ndash; pflegeleicht und ausdrucksstark zugleich.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item margin_top">
						<img src="{% static 'images/wigs/wig-curly-volume.svg' %}" class="img-responsive" alt="Echthaarperücke Curly Volume, rotbraun und lockig">
						<h3>Perücke &bdquo;Curly Volume&ldquo;</h3>
						<span class="fh5co-price">ab 1.290<sup>,-</sup></span>
						<p>Lebendige Locken in warmem Rotbraun &ndash; für einen Auftritt mit besonders viel Fülle.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-menu-2" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Herrenperücken &amp; Toupets</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Dezente Lösungen für einen natürlichen Haaransatz &ndash; von der Vollperücke bis zum punktuellen Toupet.</p>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item">
						<img src="{% static 'images/wigs/wig-natural-herren.svg' %}" class="img-responsive" alt="Herrenperücke Natural, kurzes dunkelbraunes Haar">
						<h3>Herrenperücke &bdquo;Natural&ldquo;</h3>
						<span class="fh5co-price">ab 790<sup>,-</sup></span>
						<p>Dezentes Kurzhaarmodell mit hauchdünnem Skin-Ansatz &ndash; unsichtbar im Haaransatz.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
					<div class="fh5co-item margin_top">
						<img src="{% static 'images/wigs/wig-comfort-toupet.svg' %}" class="img-responsive" alt="Toupet Comfort, grau meliertes Haarteil für den Oberkopf">
						<h3>Toupet &bdquo;Comfort&ldquo;</h3>
						<span class="fh5co-price">ab 590<sup>,-</sup></span>
						<p>Leichtes, atmungsaktives Haarteil zur punktuellen Kaschierung &ndash; angenehm auch bei sensibler Kopfhaut.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Gut zu wissen</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Alle Preise verstehen sich als Richtwerte für die Grundausführung. Der endgültige Preis richtet sich nach Haarlänge, Dichte und individueller Anpassung und wird im Beratungsgespräch gemeinsam festgelegt.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
						<img src="{% static 'images/person_1.jpg' %}" alt="Beratungsgespräch bei Zweithaar Schaaf">
				</div>
				<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
					<blockquote>
						<p> &ldquo;Ich habe mich in der Beratung genau die Zeit genommen gefühlt, die ich gebraucht habe &ndash; am Ende passte Farbe und Schnitt einfach perfekt.&rdquo;</p>
						<p class="author"><cite>&mdash; Sabine M.</cite></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url('{% static 'images/wigs/hero-wigs-banner.svg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Nicht das Richtige dabei?</h2>
					<p>Unser gezeigtes Sortiment ist nur ein Ausschnitt. In einem persönlichen Beratungstermin finden wir gemeinsam die Perücke, die zu Ihnen passt &ndash; inklusive Farb-, Schnitt- und Passformberatung.</p>
					<p><a href="{% url 'reservation' %}" class="btn btn-primary btn-outline">Beratungstermin vereinbaren</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Zweithaar Schaaf</h4>
					<p>Ihr Fachgeschäft für Echthaarperücken, Toupets und Haarteile &ndash; individuelle Beratung und handwerkliche Qualität aus einer Hand.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="about.html">Über uns</a></li>
						<li><a href="{% url 'wigs' %}">Unsere Perücken</a></li>
						<li><a href="gallery.html">Galerie</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Sortiment</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Damenperücken</a></li>
						<li><a href="#">Herrenperücken</a></li>
						<li><a href="#">Toupets</a></li>
						<li><a href="#">Haarteile</a></li>
						<li><a href="#">Pflegeprodukte</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Kontakt</h4>
					<ul class="fh5co-footer-links">
						<li>Zweithaar Schaaf<br>Musterstraße 1, 12345 Musterstadt</li>
						<li><a href="tel://+4912345678">+49 123 456 78</a></li>
						<li><a href="mailto:info@zweithaarschaaf.de">info@zweithaarschaaf.de</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2026 Zweithaar Schaaf. Alle Rechte vorbehalten.</small>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
